<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrl.icontrol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mrl.icontrol.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.mrl.icontrol.service.ServerService" />

        <activity
            android:name="com.mrl.icontrol.baiduDemo.mini.ActivityMyMiniRecog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="精简版识别">
        </activity>

        <activity
            android:name="com.mrl.icontrol.baiduDemo.mini.ActivityMyMiniWakeUp"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="精简版唤醒">
        </activity>

        <activity
            android:name="com.mrl.icontrol.baiduDemo.mini.ActivityMyMiniUnit"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="精简版语义解析UNIT">
        </activity>

    </application>

</manifest>